$background: #f2f2f2;


body {
  background: $background;
  font-family: 'Helvetica', 'Arial', sans-serif;
}

.weatherBox {
  position: absolute;
  right: 0;
  top: 0;
  background-color: white;
  padding: 20px;
  box-shadow: 2px 1px 2px rgba(0, 0, 0, .5);
}